@rendermode InteractiveServer

<div class="custom-carousel">
    <RadzenCarousel @ref=carousel Auto="false" AllowNavigation="@allowNavigation"
                    AllowPaging="@allowPaging"
                    class="rz-mx-auto"
                    ButtonStyle="@style" ButtonSize="@size" ButtonShade="@shade" ButtonVariant="@variant">
        <Items>
            <RadzenCarouselItem>
                <div class="custom-slide">
                    @foreach (var craft in craftList)
                    {
                        <CraftItem Craft="craft"></CraftItem>
                    }
                </div>
            </RadzenCarouselItem >

            <RadzenCarouselItem>
                <div class="custom-slide">
                    @foreach (var craft in craftList)
                    {
                        <CraftItem Craft="craft"></CraftItem>
                    }
                </div>
            </RadzenCarouselItem >


        </Items>
    </RadzenCarousel>
</div>



@code {

    RadzenCarousel? carousel;
    bool allowNavigation = true;
    Variant variant = Variant.Filled;
    ButtonStyle style = ButtonStyle.Base;
    Shade shade = Shade.Lighter;
    ButtonSize size = ButtonSize.Large;
    bool allowPaging = false;
    
    
    private List<Craft>? craftList = Helper.GetCrafts();

}